* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: #e2eaf5;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

/* início estilização = icone + nav bar */
.icon {
  width: 50px;
  /* ou 3rem para uma abordagem responsiva */
  height: 50px;
  /* ou 3rem para uma abordagem responsiva */
  border-radius: 2% 35% 2% 35%;
  margin-right: 20px;
}

.app-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*2 colunm ocuparão msm espaço*/
  padding: 40px;
  /*aplicação em todos elementos existentes*/
  column-gap: 100px;
}

.navbar-container {
  display: flex;
  align-items: center;
}

.custom-input {
  border: none;
  border-radius: 15px;
  background-color: #fdfffe;
  color: #232323;
  padding: 16px;
  width: 100%;
}

.custom-input:focus {
  outline: 2px solid #3aa2ff;
}

.custom-input::placeholder {
  color: #b1b8c0;
}

.img-previsao {
  width: 100px;
  /* ou 3rem para uma abordagem responsiva */
  height: 100px;
  /* ou 3rem para uma   */
  border-radius: 50%;
  box-shadow: #00000037;
}

/* end styles = icon + nav bar */

/* showcase */

.showcase-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 90px; /*90*/
}

.showcase-container .showcase-text>h2:first-child {
  font-size: 3.125rem;
  font-weight: 700;
  color: #2a394f;
}

.showcase-container .showcase-text>h2:nth-child(2) {
  font-size: 5.125rem;
  color: #2a394f;
  font-weight: 700;
}

.showcase-container .showcase-text p {
  color: #9aa0a8;
  margin-bottom: 15px;
  font-weight: 500;
}

/* previsão por hora - */

.hourly-forecast-container .hour-weather-item>img {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

.hourly-forecast-container {
  margin-top: 15px;
  padding: 25px;
  display: flex;
  border-radius: 40px;
  background: linear-gradient(90.28deg, #00fdfe 0.22%, #3aa2ff 99.76%);
  box-shadow: 0px 30px 50px -19px rgba(1, 126, 254, 0.5);
  justify-content: space-between;
}

.hourly-forecast-container .hour-weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hourly-forecast-container .hour-weather-item>p:first-child {
  color: #fff;
  opacity: 0.75;
  font-weight: 500;
}

.hourly-forecast-container .hour-weather-item p:last-child {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

/* weather-details */

.weather-details-container {
  margin-top: 30px;
  display: grid;
  /*4 col*/
  grid-template-columns: repeat(4, 210px);
  column-gap: 20px;

}

.weather-details-item {
  background-color: #fff;
  border-radius: 40px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.weather-details-container .weather-details-item>p:first-child {
  color: #8f8f8f;
}

.weather-details-container .weather-details-item div {
  display: flex;
  align-items: center;
}

.weather-details-container .weather-details-item>div>p {
  font-size: 2.5rem;
  font-weight: 700;
  color: #2a394f;
  margin-left: 4px;
}

.weather-details-item img {
  width: 25px;
  height: 25px;
}

/*bloco 3 vento*/
.weather-details-container .weather-details-item>div>p>span {
  font-size: 0.75rem;
  margin-inline-start: 5px;
}

/* coluna direita */
.weekly-forecast-container .day-weather-item>p,
.weekly-forecast-container .day-weather-item>img,
.weekly-forecast-container .day-weather-item>p {
  flex: 1;
}

.weekly-forecast-container {
  background: #fff;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.weekly-forecast-container .day-weather-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weekly-forecast-container .day-weather-item>p {
  font-weight: 500;
  color: #8f8f8f;
}

.weekly-forecast-container .day-weather-item>div {
  display: flex;
  align-items: center;
}

.weekly-forecast-container .day-weather-item>div>p:first-child {
  color: #2a394f;
  font-weight: 500;
  margin-right: 8px;
  
}

.weekly-forecast-container .day-weather-item>div>p:last-child {
  color: #8f8f8f;
  font-weight: 500;
  
}

.weekly-forecast-container .day-weather-item > img {
  height: 75px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}


/* ====================================================================================== */
/* ====================================================================================== */

/* Estilos para telas menores que 480px */
@media (max-width: 580px) {
  body {
    font-size: 15px;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    
  }

  .custom-input {
    width: 75%;
  }
}
